:root {
	--pickMaxWidth: 230px;
	--pickMaxHeight: 130px;
	--championMaxWidth: 100px;
	--championMaxHeight: var(--championMaxWidth);
	--banMaxWidth: 100px;
	--banMaxHeight: var(--banMaxWidth);
	--banMinWidth: 50px;
	--banMinHeight: 50px;
	--roleIconMaxWidth: 70px;
	--roleIconMaxHeight: var(--roleIconMaxWidth);
	--teamIconMaxWidth: 70px;
	--teamIconMaxHeight: var(--teamIconMaxWidth);
	--searchBarMaxWidth: 130px;
	--searchBarMaxHeight: 70px;
	--searchBarFontSize: 1.9rem;
	--dataButtonMaxWidth: 100px;
	--dataButtonMaxHeight: 20px;
	--dataButtonFontSize: 20px;
	--generalBorderRadius: 6px;
}

:root[data-theme="light"] {
	--bodyBackgroundColor: #696f77;
	--settingsButtonFilter: brightness(0.01) invert(84%);
	--sourceButtonBackgroundColor: white;
	--sourceButtonTextColor: black;
	--sourceButtonBorder: 1px solid var(--bodyBackgroundColor);
	--selectionBoxShadow: 0px 0px 2px 2px gold;
	--textInputBackgroundColor: white;
	--textInputPlaceholderColor: #797979;
	--textInputTextColor: black;
	--championPickBanBorder: 1px solid black;
	--championIconBorder: 2px solid black;
	--onBackgroundColor: lightgreen;
	--offBackgroundColor: pink;
	--labelColor: black;
}

:root[data-theme="dark"] {
	--bodyBackgroundColor: #0d1117;
	--settingsButtonFilter: brightness(0.1) invert(73%);
	--sourceButtonBackgroundColor: #06145e;
	--sourceButtonTextColor: #cccccc;
	--sourceButtonBorder: 1px solid #707070;
	--selectionBoxShadow: 0px 0px 2px 2px #0b2ee5;
	--textInputBackgroundColor: #0f093e;
	--textInputPlaceholderColor: #797979;
	--textInputTextColor: #eeeeee;
	--championPickBanBorder: 1px solid #404040;
	--championIconBorder: 2px solid #404040;
	--onBackgroundColor: darkgreen;
	--offBackgroundColor: darkred;
	--labelColor: #eeeeee;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	background-color: var(--bodyBackgroundColor);
	overflow: hidden;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	gap: 10px;
	height: 100vh;
	width: 100vw;
}

.draft-area {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	min-height: 0;
	width: 100%;
}

.draft-team {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.draft-team > .stage-separator-vertical {
	height: 50px;
	background-color: gray;
}

.champions-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: start;
	padding: 4px;
	gap: 5px;
	min-height: 0;
	width: 100%;
	max-height: 100%;
	overflow-y: scroll;
}

.champion-container {
	display: flex;
	flex-direction: column;
	width: var(--championMaxWidth);
	height: var(--championMaxHeight);
}

.champion-icon {
	max-width: var(--championMaxWidth);
	max-height: var(--championMaxHeight);
	width: var(--championMaxWidth);
	height: var(--championMaxHeight);
	border: var(--championIconBorder);
	cursor: pointer;
}

.selected {
	box-shadow: var(--selectionBoxShadow);
}

.champion-pick {
	height: fit-content;
	border: var(--championPickBanBorder);
	aspect-ratio: 1.77;
	height: 100%;
	width: 100%;
	min-height: var(--pickMaxHeight);
	min-width: var(--pickMaxWidth);
	max-width: var(--pickMaxWidth);
	max-height: var(--pickMaxHeight);
	background-size: cover;
	background-image: url("/img/pick_icon.png");
}

.draft-team > .champion-pick > img {
	width: var(--pickMaxWidth);
	height: var(--pickMaxHeight);
	max-width: var(--pickMaxWidth);
	max-height: var(--pickMaxHeight);
	border: var(--championPickBanBorder);
}

.draft-team > .champion-pick > img:not([src="./img/pick_icon.png"]) {
	cursor: pointer;
}

.role-selection {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 1;
	gap: 5px;
	min-width: 150px;
}

.role-selection > img {
	max-width: var(--roleIconMaxWidth);
	max-height: var(--roleIconMaxHeight);
	border-radius: var(--generalBorderRadius);
	width: 100%;
	height: auto;
	flex-shrink: 1;
}

.utils {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 11px;
	flex-shrink: 1;
	width: 100%;
	height: 100%;
}

.search-bar {
	height: 100%;
	max-width: var(--searchBarMaxWidth);
	max-height: var(--searchBarMaxHeight);
	font-size: var(--searchBarFontSize);
	background-color: var(--textInputBackgroundColor);
	color: var(--textInputTextColor);
	border: var(--sourceButtonBorder);
	border-radius: var(--generalBorderRadius);
	padding: 4px;
}

.search-bar::placeholder {
	color: var(--textInputPlaceholderColor);
}

.team-selection {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.team-selection > img {
	max-width: var(--teamIconMaxWidth);
	max-height: var(--teamIconMaxHeight);
}

.not-bans {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	gap: 10px;
	min-height: 0;
	width: 100%;
	padding: 0px 10px;
}

.bans {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0px 10px;
	gap: 10px;
	width: 100%;
}

.draft-team-bans {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex-shrink: 1;
	gap: 10px;
}

.draft-team-bans#red-team-bans {
	flex-direction: row-reverse;
	justify-content: end;
}

.draft-team-bans#blue-team-bans {
	justify-content: start;
}

.ban-separator {
	width: 15px;
}

.pick-separator {
	height: 15px;
}

.champion-ban {
	height: fit-content;
	border: var(--championPickBanBorder);
	aspect-ratio: 1;
	height: 100%;
	width: 100%;
	min-height: var(--banMinHeight);
	min-width: var(--banMinWidth);
	max-height: var(--banMaxHeight);
	max-width: var(--banMaxWidth);
}

.draft-team-bans > .champion-ban > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.draft-team-bans > .champion-ban > img:not([src="./img/ban-icon.png"]) {
	cursor: pointer;
}

/*1280 × 720 pixels
* meaning a 1.77 : 1 ratio
* */
.draft-team > .champion-pick > img {
	width: 100%;
	height: 100%;
	max-width: var(--pickMaxWidth);
	max-height: var(--pickMaxHeight);
	border: var(--championPickBanBorder);
}

.source-button {
	min-width: var(--dataButtonMaxWidth);
	min-height: var(--dataButtonMaxHeight);
	font-size: var(--dataButtonFontSize);
	border: var(--sourceButtonBorder);
	padding: 4px 8px;
	border-radius: 6px;
	background-color: var(--sourceButtonBackgroundColor);
	color: var(--sourceButtonTextColor);
}

#user_data_form_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#user_data_form_container > textarea {
	font-size: 15px;
}

#user_data_form_container > label {
	font-size: 30px;
}

#user_data_form_container > label > a {
	color: #5eeb73;
}

.hidden {
	display: none !important;
}

[data-team="both"] {
	border-color: orange;
}

[data-team="ally"] {
	border-color: green;
}

[data-team="enemy"] {
	border-color: red;
}

.settings-button,
.settings-button > img {
	max-height: 28px;
	max-width: 28px;
}

.settings-button > img {
	filter: var(--settingsButtonFilter);
}

.settings-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bodyBackgroundColor);
	border: 0px;
}

#settings-menu {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 3px;
}

#settings-menu > label {
	color: #eeeeee;
	padding: 0px 2px;
}

#header {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: space-between;
	padding: 4px 4px 0 4px;
	width: 100%;
}

#leave-settings-button {
	font-weight: 700;
}

#manual-text {
	max-height: 96.3vh;
	overflow-y: auto;
	display: flex;
	align-items: start;
	justify-content: center;
}

.team-logo {
	filter: var(--teamLogoFilter);
	border-radius: var(--generalBorderRadius);
}

.custom-data-input-textarea {
	border: var(--sourceButtonBorder);
	background-color: var(--textInputBackgroundColor);
	color: var(--textInputTextColor);
}

.custom-data-input-textarea::placeholder {
	color: var(--textInputPlaceholderColor);
}

.on {
	background-color: var(--onBackgroundColor);
}

.off {
	background-color: var(--offBackgroundColor);
}

label {
	color: var(--labelColor);
}

.data {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.control-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

@media screen and (max-width: 1700px) {
	.team-selection#teams-container {
		display: none !important;
	}
}

